body, html {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.logo {
  background-image: url(/assets/images/logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
}